{% extends "insta/base.html" %} 

{% block content %}
    <p> <a href="/"> Main </a> </p>
   <!--
    <p> {{ latitude }} </p>
    <p> {{ longitude }} </p>
   --> 


{% if all %}
  <ul> 
  {% for k, i in all.items %}     
      {% if i.filter %}
          <h1> Place: {{ k }} </h1>

          {% if i.likes_avg and i.comment_avg %} 
              <h2> <p> <u> Averages by Location </u> </p> </h2>
                   <p> Average Comments: {{ i.comment_avg }} </p>
                   <p> Average Likes: {{ i.likes_avg }} </p>
          {% endif %}
 
          {% if i.comments%}
 
              <h2> <p> <u> Word Cloud </u> </p> </h2>

              {% for x, y in i.comments.items %}
                  <font style="font-size: {{ y }}em;"> {{ x }} </font>
              {% endfor %}

          {% else %}
 
              <h2> <p> <u> No Comments Left on Photos </u> </p> </h2>
    
          {% endif %}

          {% for z in i.image %}

              <li> <img src="{{ z }}" /> </li>

          {% endfor %}


      {% endif %}
  {% endfor %}
  </ul>
{% else %}
  <p> no photos available </p>

{% endif %}


{% endblock %}
